In [1]:
import pandas as pd
import numpy as np
#Question1
print(pd.__version__)

2.3.1

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
#Question 2 
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [4]:
#question 3: Fuel Types
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [5]:
#Question 4:Missing Values
print(df.isna().sum())  #4 columns with missing values

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [6]:
#Q5: Max Fuel Efficency
print(df['fuel_efficiency_mpg'].max())

25.96722204888372

In [7]:
#Q6  Median Value of Horsepower 
print(df['horsepower'].median())

149.0

In [8]:
most_frequent = df['horsepower'].value_counts().idxmax()
print(most_frequent)

152.0

In [9]:
df['horsepower']= df['horsepower'].fillna(152.0)

In [10]:
print(df['horsepower'].median())
#Yes it increased

152.0

In [11]:
#Q7 : Sum of Weights
df1 = df[df['origin'] == 'Asia']

In [12]:
df1 = df1[["vehicle_weight", "model_year"]].head(7)
df1

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [13]:
X = df1.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [14]:
XTX = X.T@X

In [15]:
XTX_inv = np.linalg.pinv(XTX)

In [16]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200]).reshape(-1, 1)

In [17]:
w = XTX_inv @ X.T @ y

In [18]:
w_sum = w.sum()
print(w_sum)

0.5187709081074039